* {
  margin: 0;
  padding: 0;
	list-style: none;
}
body {
	
	font-style: normal;
	font-size: 14px;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	color: black;
	background: #f2f2f2;
	
}

h1 {
	font-style: bold;
	font-size: 21px;
	line-height: 26px;
	
}

h2 {
	font-style: bold;
	font-size: 21px;
	line-height: 21px;
}


.main-header {
	min-height: 56px;
	width: 1200px;
	font-size: 0;
	text-align: center;
}

.main-navigation {
	min-height: 56px;
}

.main-navigation li {
	display: inline-block;
	width: 240px;
	font-size: 14px;
	vertical-align: middle;
	
}

.container {
	width: 1200px;
	margin: 0 auto;
	background: #ffffff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.promo {
	min-height: 508px;
	width: 1200px;
  background-image: url("img/promo.jpg");
}

.promo-text {
	display: block;
	width: 458px;
	margin: 0 auto;

}

.title {
	min-height: 216px;
	width: 1200px;
	outline: 3px dashed #d21e37;
}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.features-item {
	float: left;
	width: 400px;
	min-height: 256px;
	
}

.right {
	float: right;
}
.features-name {
	float: left;
	width: 400px;
	min-height: 330px;
	
}

.info {
 min-height: 291px;
}

.search {
	width: 568px;
	margin: 0 auto;
	
}

.search-button {
	width: 568px;
	height: 86px;
	background: #766357;
	margin-top: 204px;
	
}
/*
.main-footer {
   padding-top: 33px;
  padding-bottom: 33px;
}

.footer-contacts {
	float: left;
	width: 239px;
	margin-left: 72px;
	margin-right: 88px;
}

.footer-social {
	float: left;
	width: 405px;
	margin-right: 87px;
}

.footer-copyright {
	float: left;
	width: 240px;
	
}
*/

.main-footer {
  text-align: center; 
	font-size: 0;
	padding-top: 36px;
	padding-bottom: 36px;
}

.layout {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	
}
.footer-contacts {
	width: 239px;
	
}

.footer-social {
	width: 405px;
	margin-left: 88px;
	margin-right: 87px;
}

.footer-copyright {

	vertical-align: middle;
	width: 240px;
}

.gray {
	background: #eeeeee;
}

.blue {
	background: #81b3d2;
	
}


/*страница hotels*/

.positioner {
	width: 1055px;
  margin: 0 auto;
	
}

.filter {
	background-image: url("../img/fon-hotels.jpg");
	min-height: 217px;
}

.filter-layout {
	float: left;
}

.filter-ifnra {
	width: 240px;
	
}

.filter-realty {
	width: 287px;
	margin-right: 176px;
}

.filter-price {
	width: 327px;
}



.result-sort li {
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}

.result-sort li:last-child {
	float: right;
}

.result-title {
	width: 115px;
	margin-right: 48px;
}

.result-sortirov {
	width: 76px;
	margin-right: 38px;
}

.result-sort li a{
	width: 48px;
	margin-right: 32px;
}

result-sort li a:last-child {
	width: 75px;
	margin-right: 0px;
}

/*
.result-sort {
	min-height: 86px;
	font-size: 0;
}

.result-sort li {
	display: inline-block;
	vertical-align: middle;
		font-size: 14px;
}*/

.result-hotel-item {
	padding: 30px 0;
	min-height: 90px;
	border-top: 1px solid #e5e5e5; 
}
.result-column1 {
	float: left;
	width: 135px;
	margin-right: 28px;
}

.result-column2 {
	float: left;
	width: 265px;
}

.result-column3 {
	float: right;
	width: 120px;
	text-align: right;
}